*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
@import './_header';
@import './main';
@import './category';
@import './country';
@import './step';